.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: var(--second);
  }
  
body {

  background-image: url("../image/texture-3.jpg");
}
.books{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-wrap: wrap;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 450px; 
  height: 650px;
  margin: 1rem;
  background-position: center;
  box-shadow: 2px 8px 6px #1b1b1b;
  overflow: hidden;
}

.card{   
  position: absolute;
  width:  100%;
  top: 35rem;
  height: 20%;
  color: var(--primary);
  text-align: center;
  background: transparent;
  backdrop-filter: blur(8px);
  transition: all .5s ease; 
}

.container .card{
  top: 33rem;
  
} 

.text{
  font-size: 25px;
  transition: all .5s ease;
}


